# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools
- Examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. C
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. SciKit-Lean
5. PyTorch
6. TensorFlow

| Data Science Tools |
|-------------------|
| VSCode |
| RStudio |
| Jupyter Notebook |
| GitLab |
| Anaconda |

-------
### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Jan W